// CSS for Two Column Hero ACF field
// ideas from: https://set.studio/some-simple-ways-to-make-content-look-good/

/* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1240,18,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */




.content-title {
    font-size: 4em;
    font-weight: 700;
    line-height: 1.1em;
    text-wrap: balance;
    max-width: 20ch;
    overflow-wrap: break-word;
}

.content-column-left {
    font-size: var(--size-step-1);
}

.content-column-right {
    font-size: var(--size-step-1);
}
